alias ll="ls $ls_options"
alias l=ll
alias f='find . -name'

# Git
git_update() {
    stash_count=$(git stash list | wc -l)

    git stash;
    git checkout master;
    git fetch -p;
    git pull;
    git checkout -;

    stash_count_update=$(git stash list | wc -l)
    if [ $((stash_count_update - stash_count)) -eq 1 ]; then
        git stash pop;
    fi
}

alias gupdate='git_update'
alias changes='git diff --numstat --shortstat start'
alias gb='git branch'
alias gap='git add -p'
alias gco='git checkout'
alias gg='git grep'
alias gd='git diff'
alias gdc='git diff --cached'
alias gka='gitk --all'
alias gls='git ls-files'
alias gpop='git stash pop'
alias gstash='git stash'
alias gl='git log'
alias ga='git add .'
alias gs='git status'
alias gka='gitk --all'
alias gca='git commit --amend'
alias gcm='git commit -m'
alias gc='git commit -em'
alias burner='git branch'
alias ghist='for branch in `git branch -r | grep -v HEAD`;do echo -e `git show --format="%ci %cr" $branch | head -n 1` \\t$branch; done | sort -r'
alias gcd='cd "$(git rev-parse --show-toplevel)"'
alias gitc='bug=`git symbolic-ref HEAD|sed s#refs/heads/##`; issue_type=$(echo $bug | cut -f1 -d- | tr a-z A-Z); issue_number=$(echo $bug | cut -f2 -d-); git commit -em "$issue_type-$issue_number: "'

# Bundler
alias be='bundle exec'

# Rspec
alias respect='bundle exec rspec'
alias ber='bundle exec rspec'
alias wipit='be rspec -t @wip'

# Run the specs and push if successful
alias rpush='rspec --fail-fast && git push'

# Rails
alias r='bundle exec rails s'
alias rspec='rspec -c'
alias migrate='bundle exec rake db:migrate && bundle exec rake test:prepare'

# Pow
alias rpow='touch tmp/restart.txt'
alias vlm='vim db/migrate/`ls db/migrate | tail -1`'

# Apps
alias v='mvim'
alias vi='vim'
alias vim='vim'

# Not really useful anymore
alias lunch="open /Volumes/4moms/Company\ Related/LUNCH\ MENUS/"

# Ceedling
alias rr="rake release"
alias rta="rake test:all"
alias db="rr; arm-none-eabi-gdb"

# Random
alias todo="git grep -EI 'TODO' > ~/sentinel-todo.txt"
