# alias ll="ls $ls_options"
alias ll='ls -A'
alias l=ll
alias f='find . -name'

# Git
alias changes='git diff --numstat --shortstat start'
alias gb='git branch'
alias gap='git add -p'
alias gco='git checkout'
alias gg='git grep'
alias gd='git diff'
alias gdc='git diff --cached'
alias gka='gitk --all'
alias gls='git ls-files'
alias gpop='git stash pop'
alias gstash='git stash'
alias gl='git log'
alias ga='git add .'
alias gs='git status'
alias gka='gitk --all'
alias gca='git commit --amend'
alias gcm='git commit -m'
alias gc='git commit -em'
alias burner='git branch'
alias ghist='for branch in `git branch -r | grep -v HEAD`;do echo -e `git show --format="%ci %cr" $branch | head -n 1` \\t$branch; done | sort -r'
alias gcd='cd "$(git rev-parse --show-toplevel)"'
alias gitc='bug=`git symbolic-ref HEAD|sed s#refs/heads/##`; issue_type=$(echo $bug | cut -f1 -d- | tr a-z A-Z); issue_number=$(echo $bug | cut -f2 -d-); git commit -em "$issue_type-$issue_number: "'

# Apps
alias v='mvim'
alias vi='vim'
alias vim='vim'
